<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Details</title>
</head>
<body>

    <main>
        <h1>{{ todo_list.name }}</h1>
        <h2>Tasks</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
            <tbody>
                    {% for task in todo_list.items.all %}
                        <tr>
                            <td>{{ task.task }}</td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
